html
body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

nav {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: absolute;
    top: 0;
    width: 1300px;
}

nav img {
    margin-left: 10px;
    height: 50px;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    text-decoration: underline;
    padding: 10px;
}

.Mission {
    position: relative;
    padding: 69px;
    height: 700px;
    width: 1200px;
    
}

.mission_text {
    position: absolute;
    background-color: black;
    bottom: 300px;
    width: 1200px;
    text-align: center;

}

.TeaOfTheMonth {
    width: 1000px;
    padding-top: 30px;
    margin-top: 15px;
    text-align: center;
}

.fall_berry_blitz {
    background-size: contain;
    background-image: url("img-berryblitz.webp");
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}


.Locations {
    height: 500px;
    width: 1200px;
    background-image: url("img-locations-background.webp");
    background-size:cover;
    padding: 69px;
    text-align: center;
}

.downtown {
    width: 300px;
    text-align: center;
    background-color: black;
    margin: 40px;
    display: inline-block;
}

.contact {
    flex:auto
}

footer {
    text-align: left;
    margin-left: 20px;
}