html {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

nav {
    font-size: 50px;
    margin-left: 10px;
    border-bottom: 1px solid seashell;
}

#Mission {
    text-decoration: underline;
}

.Mission {
    text-align: center;
    background-image: url("img-mission-background.webp");
    height: 700px;
    width: 1200px;
    
}

.mission_text {
    position: relative;
    top:50%;
    vertical-align: middle;
    background-color: black;
}

.TeaOfTheMonth {
    display: flex;
}

figure {
    height: 200px;
    width: 300px;
    margin: 25px;
}

.Locations {
    height: 500px;
    width: 1200px;
}